* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'basiic';
  src: url('../fonts/basiic.woff2') format('woff2');
}

@font-face {
  font-family: 'Glass';
  src: url('../fonts/Glass.woff2') format('woff2');
}

body {
  background-color: white;

  margin: 0;
  padding: 0;
  font-family: 'basiic', sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;

  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

h1 {
  font-family: 'Glass', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.columns-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  min-height: 200px;
}

.left-col {
  flex: 0 0 35%;
}

.middle-col {
  flex: 0 0 35%;
}

.right-col {
  flex: 0 0 25%;
}

@media (max-width: 700px) {

  h1 {
    font-size: 40px;
    overflow-wrap: break-word;
  }

  .site-container {
    width: 100%;
    max-width: none;
    padding: 15px;
  }

  .columns-row {
    flex-direction: column;
    gap: 30px;
  }

  .left-col,
  .middle-col,
  .right-col {
    width: 100%;
    flex: none;
  }

  .middle-col ul {
    text-align: left;
    padding-left: 20px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 32px;
  }
}

.socials {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.socials-page h2 {
  text-align: left;
}

.socials li {
  margin: 10px 0;
}

.socials li::before {
  content: "•";
  margin-right: 10px;
}

.socials-page {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}
.info-box {
    background-color: rgba(180, 195, 180, 0.8);
    border-radius: 4px;

    width: fit-content;
    max-width: 90%;
    margin: 20px auto;
    padding: 10px 20px;

    text-align: center;
    color: #242424;
    font-size: 15px;
    line-height: 1.5;
}

.info-box p {
    margin: 0 0 20px;
}

.info-box p:last-child {
    margin-bottom: 0;
}
