@font-face {
  font-family: 'Glass';
  src: url('Glass.woff2') format('woff2');
}

@font-face {
  font-family: 'basiic';
  src: url('basiic.ttf') format('truetype');
}

h1 {
  font-family: 'Glass', sans-serif;
  font-size: 60px;
  text-align: center;
  color: #3F0E00;
}

body, main, h3 {
  font-family: 'basiic', sans-serif;
  font-size: 16px;
  color: #8C1C04;
  text-align: center;

  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
body {
  background-color: #B74214;
}
